//Breakpoint
$notes: 700px;

//Colors 
$notes-panel: #333;
$blue-title: #2998c7;


//Mixins

@mixin main-tytle-style {
	font-size: 2em;
	font-weight: 600;
	font-family: Arial, Helvetica, san-serif;
	color: #CCC;
}
   
@mixin sub-title-style {
	font-size: 1.5em;
	font-weight: 600;
	font-family: Arial, Helvetica, san-serif;
	padding: 20px 0 20px 0;
	color: $blue-title;
}

@mixin username-style {
	display: block;
	padding-bottom: 5px;
	font-weight: 600;
	font-family: Arial, Helvetica, san-serif;
	color: $yellow;
}

@mixin button-gradient {
	background-color: #00b7ea; 
	background-image: -moz-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b7ea), color-stop(100%,#009ec3));
	background-image: -webkit-linear-gradient(top, #00b7ea 0%,#009ec3 100%); 
	background-image: -o-linear-gradient(top, #00b7ea 0%,#009ec3 100%); 
	background-image: -ms-linear-gradient(top, #00b7ea 0%,#009ec3 100%);


}

