/* line 17, ../../../Program Files/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../Program Files/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../Program Files/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../Program Files/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../Program Files/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../Program Files/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../Program Files/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../Program Files/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../Program Files/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@-webkit-keyframes growHeight {
  /* line 8, ../sass/metaframe.scss */
  to {
    max-height: initial;
    opacity: 1;
    padding-bottom: 1em;
  }
}

/* line 18, ../sass/metaframe.scss */
body {
  font-family: Arial, Helvetica, san-serif;
  line-height: 120%;
}
/* line 24, ../sass/metaframe.scss */
body .hide {
  display: none;
}
/* line 29, ../sass/metaframe.scss */
body .notes-anchor {
  width: 45px;
  height: 36px;
  display: block;
  background-color: #00b7ea;
  background-image: -moz-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00b7ea), color-stop(100%, #009ec3));
  background-image: -webkit-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
  background-image: -o-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
  background-image: -ms-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
  cursor: pointer;
  position: absolute;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  z-index: 95;
  color: #fff;
  box-shadow: 1px 3px 7px 0 #333;
  font-weight: 600;
  margin-top: -10px;
  margin-left: -10px;
  text-align: center;
  padding: 10px 0 0 0 !important;
}
/* line 47, ../sass/metaframe.scss */
body .notes-anchor figure {
  font-size: 26px;
  line-height: 100%;
}
/* line 61, ../sass/metaframe.scss */
body .notes {
  width: 300px;
  position: fixed;
  z-index: 99;
  top: 0;
  background: #333333;
  border-left: 10px solid #00b7ea;
  opacity: .98;
  height: 100%;
  color: #fff;
  padding: 15px;
  overflow: auto;
  right: -330px;
}
/* line 76, ../sass/metaframe.scss */
body .notes h1 {
  font-size: 2em;
  font-weight: 600;
  font-family: Arial, Helvetica, san-serif;
  color: #CCC;
}
/* line 79, ../sass/metaframe.scss */
body .notes h2 {
  font-size: 1.5em;
  font-weight: 600;
  font-family: Arial, Helvetica, san-serif;
  padding: 20px 0 20px 0;
  color: #2998c7;
}
/* line 84, ../sass/metaframe.scss */
body .notes .note-holder {
  padding-bottom: 25px;
  width: 95%;
}
/* line 90, ../sass/metaframe.scss */
body .notes .note-count {
  width: 20px;
  height: 24px;
  display: block;
  float: left;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  border-radius: 24px;
  background-color: #00b7ea;
  background-image: -moz-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00b7ea), color-stop(100%, #009ec3));
  background-image: -webkit-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
  background-image: -o-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
  background-image: -ms-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
  z-index: 95;
  color: #fff;
  box-shadow: 0 0px 15px 0 #333;
  font-weight: 600;
  text-align: center;
  padding: 5px 5px 0px 5px;
  margin-right: 10px;
  top: -5px;
  position: relative;
}
/* line 109, ../sass/metaframe.scss */
body .notes span {
  color: #fff;
}
/* line 114, ../sass/metaframe.scss */
body .notes #noteBox {
  margin-top: 20px;
}
/* line 119, ../sass/metaframe.scss */
body .notes .note-body {
  display: block;
  font-family: Arial, Helvetica, san-serif;
  display: block;
  line-height: 1.4em;
  padding-left: 45px;
}
/* line 131, ../sass/metaframe.scss */
body .notes-tab {
  position: fixed;
  z-index: 99;
  background-color: #00b7ea;
  display: block;
  width: 25px;
  padding-top: 10px;
  padding-left: 10px;
  top: 50%;
  right: 10px;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 70px;
  background-image: url(../images/notes-v.png);
  background-position: 15px 17px;
  background-repeat: no-repeat;
  color: #fff;
  text-decoration: none;
}
/* line 150, ../sass/metaframe.scss */
body h2.mf-comments-header {
  padding-bottom: 0px;
}
/* line 154, ../sass/metaframe.scss */
body #metaframe-form {
  font-size: .9em;
  padding-bottom: 1em;
}
/* line 157, ../sass/metaframe.scss */
body #metaframe-form input[type=text], body #metaframe-form textarea {
  font-size: 1.2em;
  font-family: Arial, Helvetica, san-serif;
  width: 95%;
  border: 2px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  padding: .5em .6em;
}
/* line 165, ../sass/metaframe.scss */
body #metaframe-form input[type=text]:focus, body #metaframe-form textarea:focus {
  border-color: #2998c7;
}
/* line 169, ../sass/metaframe.scss */
body #metaframe-form textarea {
  height: 10em;
}
/* line 172, ../sass/metaframe.scss */
body #metaframe-form input[type=submit] {
  color: #fff;
  font-weight: bold;
  background-color: #2998c7;
  padding: 1em;
  display: block;
  border: 1px solid #2998c7;
  border-radius: 5px;
}
/* line 180, ../sass/metaframe.scss */
body #metaframe-form input[type=submit]:active {
  border: 1px solid #fff;
}
/* line 185, ../sass/metaframe.scss */
body #metaframe-form.error input[type=text], body #metaframe-form.error textarea {
  border-color: #d13636;
}
/* line 190, ../sass/metaframe.scss */
body #metaframe-form-error {
  color: #d13636;
  height: 1em;
  font-size: 1em;
}
/* line 196, ../sass/metaframe.scss */
body .mf-comments {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
  position: relative;
}
/* line 201, ../sass/metaframe.scss */
body .mf-comments div {
  /*padding-top: 1em;*/
  /*padding-bottom: 1em;*/
  max-height: 0;
  opacity: 0;
  -webkit-animation: growHeight 0.5s ease forwards;
}
/* line 208, ../sass/metaframe.scss */
body .mf-comments div span:nth-child(1) {
  font-size: 1em;
  display: block;
}
/* line 212, ../sass/metaframe.scss */
body .mf-comments div span:nth-child(2) {
  font-size: .8em;
  color: #999696;
}
/* line 216, ../sass/metaframe.scss */
body .mf-comments div span:nth-child(3) {
  font-size: .8em;
  padding-left: 1em;
  color: #999696;
}
@media screen and (max-width: 700px) {
  /* line 231, ../sass/metaframe.scss */
  body .bottom {
    right: auto !important;
  }
  /* line 234, ../sass/metaframe.scss */
  body .notes {
    width: 100%;
    height: 300px;
    bottom: -330px;
    right: auto;
    overflow: auto;
    top: auto;
    border-top: 10px solid #00b7ea;
    border-left: none;
  }
  /* line 248, ../sass/metaframe.scss */
  body .notes-tab {
    width: 100px;
    height: 5px;
    bottom: 10px;
    background-image: url(../images/notes-h.png);
    background-position: 25px 15px;
    left: 40%;
    text-align: center;
    padding: 15px 0 10px 0;
    top: auto;
    border-bottom-left-radius: 0 !important;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
    right: auto;
  }
}
/* line 267, ../sass/metaframe.scss */
body ::-webkit-scrollbar {
  width: 12px;
}
/* line 273, ../sass/metaframe.scss */
body ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #333;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* line 281, ../sass/metaframe.scss */
body ::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #666;
}
/* line 287, ../sass/metaframe.scss */
body ::-webkit-scrollbar-thumb:window-inactive {
  background: #CCC;
}
